<body>
    <link rel="stylesheet" href="../css/bestsell.css">
  <div class="scrollable-list ">
    <table class="table">
      <thead class="table-light table-hover">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Product ID</th>

        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">2</th>
          <td><%= product.product_name %></td>
          <td><%= product.product_id %></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><%= product.product_name %></td>
          <td><%= product.product_id %></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td><%= product.product_name %></td>
          <td><%= product.product_id %></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
